<app-menu></app-menu>
<section>
  <form [formGroup]="formulario">
    <div><label for="id">Id</label><input id="id"  formControlName ="id"/></div>
    <div><label for="nome">Nome</label><input id="nome"  formControlName ="nome"/></div>
    <div><label for="valor">Valor</label><input id="valor"  formControlName ="valor"/></div>
    <div><label for="Autor">Autor</label><input id="autor"  formControlName ="autor"/></div>

    <div><label for="descricao">Descrição</label><input id="descricao"  formControlName ="descricao"/></div>
    <div><label for="editora">Editora</label><input type="editora" formControlName ="editora"/></div>
    <div><label for="link">Link</label><input type="link" formControlName ="link"/></div>
    <div>
    </div>
    <div>
      <button  (click)="onSave()">Salvar</button>
      <button (click)="onCancelar()">Cancelar</button>
  </div>
  </form>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Ação</th>
        <th>Nome</th>
        <th>Id</th>
        <th>Link</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Excluir</td>
        <td>Stephen Hawking Buracos Negros</td>
        <td>1097329875</td>
        <td>linkaleatorio</td>
        <td>tipoaleatorio</td>
      </tr>

      <!-- Adicione mais linhas conforme necessário -->
    </tbody>
  </table>
</section>
