<app-menu></app-menu>
<section>
    <form [formGroup]="formulario">
        
        <div><label for="id">Id</label><input id="id" formControlName ="id" type="number"></div>
        <div>
            <label for="nome">Nome</label><input id="nome" formControlName ="nome">
            <label for="sobrenome">Sobrenome</label><input id="sobrenome" formControlName ="sobrenome">
        </div>
        <div>
            <label for="email">Email</label><input id="email" formControlName ="email">
            <label for="senha">Senha</label><input id="senha" formControlName ="senha">
        </div>

        <div><label for="dt_nascimento">Dt Nascimento</label><input id="dt_nascimento" type="date" formControlName ="dt_nascimento"></div>
        <div>
            <button (click)="onSave()">Salvar</button>
            <button (click)="onCancelar()">Cancelar</button>
        </div>
        </form>
        
        <table class="styled-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>João</td>
                    <td>Silva</td>
                    <td>(11) 98765-4321</td>
                    <td>joao.silva&#64;example.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Maria</td>
                    <td>Oliveira</td>
                    <td>(21) 91234-5678</td>
                    <td>maria.oliveira&#64;example.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Pedro</td>
                    <td>Souza</td>
                    <td>(31) 99876-5432</td>
                    <td>pedro.souza&#64;example.com</td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
        
</section>


