<section>
    <img src="/assets/logo.png" alt="">
    <nav>
        <a class="nav-item" routerLink="/home">
            Home
        </a>
        <details>
            <summary>Administração</summary>
            <div>
                <a class="nav-item" routerLink="/search" >Cadastro de Usuários</a>
            </div>
        </details>
        
        <details>
            <summary>Produtos</summary>
            <div>
                <a class="nav-item" routerLink="/analytics"> Cadastrar Produtos</a>
                <a class="nav-item" routerLink="/analytics"> Movimentar Produtos</a>
            </div>
        </details>

        <a class="nav-item" routerLink="/history">
            History
        </a>
        <a class="nav-item" routerLink="/profile">
            Profile
        </a>
    </nav>
    
</section>
