<p>home-component works!</p>
<!-- home.component.html -->
<div class="home">
    <div class="banner">
      <div class="banner-content">
        <h1>Discover new authors, revisit old ones.</h1>
        <p>Welcome to our book store! Find your perfect read among our extensive selection of books.</p>
        <div class="buttons">
          <button class="explore-now">Explore Now</button>
          <button class="arrow">→</button>
        </div>
      </div>
      <div class="banner-image">
        <img src="assets/banner-book.jpg" alt="Book">
      </div>
      <div class="discount">
        <span>60% OFF</span>
      </div>
    </div>
    <div class="new-arrival">
      <h2>New Arrival</h2>
      <div class="book-list">
        <!-- Livros listados aqui -->
      </div> Nada Pode me Ferir
    </div> Stephen Hawking Buracos Negros
  </div>
  
