<!-- home.component.html -->
<div class="home">
  <div class="banner">
    <div class="banner-content">
      <h1>Descubra novos autores, revisite os antigos.</h1>
      <p>
        Bem-vindo à nossa livraria! Encontre sua leitura perfeita entre nossa
        extensa seleção de livros.
      </p>
      <div class="buttons">
        <button class="explore-now">Explore agora!</button>
        <button class="arrow">→</button>
      </div>
    </div>
    <div class="banner-image">
      <img src="/assets/livro01.png" alt="Book" />
    </div>
    <div class="discount">
      <span>26% OFF!</span>
    </div>
  </div>
  <div class="new-arrival">
    <h2>Novidades!</h2>
    <div class="book-list">
      <!-- Livros listados aqui -->
      <p>Nada Pode me Ferir</p>
      <p>Stephen Hawking Buracos Negros</p>
      <p>One Piece mangá</p>
      <p>Nunca é Hora de Parar</p>
      <p>Recursão</p>
      <p>Androides Sonham Com Ovelhas Elétricas?</p>
      <p>Espere agora pelo ano passado</p>
    </div>
  </div>
</div>

<section class="catalogo" id="catalogo">
  <h2>Catálogo de Livros</h2>
  <!-- Adicione seus livros aqui -->
  <div class="grid">
    <div class="livro">
      <img src="/assets/livro02.jpg" alt="Livro 1" />
      <h3>Stephen Hawking Buracos Negros</h3>
      <p>
        explora a natureza dos buracos negros, suas origens no cosmos e suas
        implicações para a física e a cosmologia.
      </p>
    </div>
    <div class="livro">
      <img src="assets/livro03.jpg" alt="Livro 2" />
      <h3>One Piece</h3>
      <p>vol.91</p>
    </div>
    <div class="livro">
      <img src="assets/livro04.jpg" alt="Livro 3" />
      <h3>One Piece</h3>
      <p>vol.90</p>
    </div>
    <div class="livro">
      <img src="assets/livro05.jpg" alt="Livro 4" />
      <h3>Recursão</h3>
      <p>Blake Crouch</p>
    </div>
    <div class="livro">
      <img src="assets/livro06.jpg" alt="livro 5" />
      <h3>Nunca é hora de parar</h3>
      <p>David Goggins</p>
    </div>
    <div class="livro">
      <img src="assets/livro07.jpg" alt="livro 6" />
      <h3>Androides Sonham Com Ovelhas Elétricas?</h3>
      <p>Philip K. Dick</p>
    </div>
    <div class="livro">
      <img src="assets/livro08.jpg" alt="livro 7" />
      <h3>Espere agora pelo ano passado</h3>
      <p>Philip K. Dick</p>
    </div>
    <div class="livro">
      <div class="sketchfab-embed-wrapper">
        <iframe
          title="book"
          frameborder="0"
          allowfullscreen
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking"
          xr-spatial-tracking
          execution-while-out-of-viewport
          execution-while-not-rendered
          web-share
          src="https://sketchfab.com/models/a48ddaa719564047a894bbe80c6f724d/embed"
        >
        </iframe>
      </div>
    </div>
    <div class="livro">
      <div class="sketchfab-embed-wrapper">
        <iframe
          title="Black Hole interpretation"
          frameborder="0"
          allowfullscreen
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking"
          xr-spatial-tracking
          execution-while-out-of-viewport
          execution-while-not-rendered
          web-share
          src="https://sketchfab.com/models/b1b481a9257b4429ac109d9991c21228/embed"
        >
        </iframe>
      </div>
      <p>Interpretação de um Buraco Negro</p>
    </div>
    <div class="sketchfab-embed-wrapper">
      <div class="sketchfab-embed-wrapper">
        <iframe
          title="Neptune (v2)"
          frameborder="0"
          allowfullscreen
          mozallowfullscreen="true"
          webkitallowfullscreen="true"
          allow="autoplay; fullscreen; xr-spatial-tracking"
          xr-spatial-tracking
          execution-while-out-of-viewport
          execution-while-not-rendered
          web-share
          src="https://sketchfab.com/models/786dd3c5c00e4f6dba6b74ac35ff486a/embed">
        </iframe>
      <p>Netuno</p>
      </div>
    </div>
  </div>
</section>
